<header>
  <div class="title">
    <h1><%= header.title %></h1>
  </div>
  <ul class="navbar">
    <li class="architecture">
      <a><%= header.architecture %></a>
      <img src="../images/Architecture.png" alt="">
    </li>
    <li class="photography">
      <a><%= header.photography %></a>
      <img src="../images/Photography.png" alt="">
    </li>
    <li class="about">
      <a><%= header.about %></a>
    </li>
  </ul>
</header>