<header>
  <div class="title">
    <h1><%= header.title %></h1>
  </div>
  <ul class="navbar">
    <li class="architecture">
      <p><%= header.architecture %></p>
      <img src="../images/Architecture.png" alt="">
    </li>
    <li class="photography">
      <p><%= header.photography %></p>
      <img src="../images/Photography.png" alt="">
    </li>
    <li class="about">
      <p><%= header.about %></p>
    </li>
  </ul>
</header>