<!DOCTYPE html>
<html">

  <head>
    <title>
      <%= head.index %>
    </title>
    <%- include("parcials/head") %>
  </head>

  <body>
    <!--========================================================
                                HEADER
        =========================================================-->
    <%- include("parcials/header") %>

    <!--========================================================
                                CONTENT
        =========================================================-->
    <main>

    </main>
    <!--========================================================
                                FOOTER
        =========================================================-->
    <%- include("parcials/footer") %>

    <!--========================================================
                                Scripts
        =========================================================-->
    <script src="../../js/headerNavbarHover.js"></script>
  </body>

  </html>